<h2>Search</h2>
<style>
    span.highlighted {
        color: red;
    }
</style>
<!--高亮加载-->
{% load highlight %}
 
<form method="get" action=".">
    <table>
        <!-- 对象.as_table 生成表格,里边会自动成成input标签 -->
        {{ form.as_table }}
 
        {#        {{ form.title.label }}#}
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Search">
            </td>
        </tr>
    </table>
 
    {% if query %}
        <h3>返回结果</h3>
 
        {% for result in page.object_list %}
            <!-- page.object_list:返回查询的一页数据 -->
            <!-- result:数据对象 -->
            <p>
                {#                <a href="{{ result.object.get_absolute_url }}">{{ result.object.title }}</a>#}
                <a href="{{ result.object.get_absolute_url }}">{% highlight result.object.title with query %}</a>
            </p>
            <span>
                {% highlight result.object.content with query %}
                {#                {{ result.object.content }}#}
            </span>
 
        {% empty %}
            <p>没有查询到结果！！！</p>
        {% endfor %}
 
 
        <!-- 分页 -->
        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}«
                Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}Next »
                {% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
</form>